<head>
    <title>SKITTLES</title>
    <meta name="title" content="N o t L u c a" />
    <meta name="description" content="Code with Luca" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="." />
    <meta property="og:title" content="N o t L u c a" />
    <meta property="og:description" content="Code with Luca" />
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/71058095?s=60&v=4" />
    <meta name="author" content="N o t L u c a" />
    <meta content="#212121" name="theme-color" />
    <meta content="#212121" name="msapplication-navbutton-color" />
    <link rel="icon" href="https://avatars.githubusercontent.com/u/71058095?s=60&v=4" />
    <link rel="shortcut icon" href="https://avatars.githubusercontent.com/u/71058095?s=60&v=4" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/nav.css">
    <script src="./js/navigation.js" defer></script>
  </head> 