<section id="myLikes">
    <div class="container">
        <div class="row flex-center">

            <div class="card-max card-glare1 portfolio-item">
                <a href="#" class="portfolio-link text-center" data-toggle="modal">
                    <span class="fa fa-fw fa-headphones" aria-hidden="true" title="This symbolizes I Love to listen good music!
                    "></span>
                </a>
                <article>
                        <h3>Listen music</h3>  
                    <p><%= config.cardtext.card1 %></p>
                </article>                    
            </div>
            <div class="card-max card-glare2 portfolio-item">
                <a href="#" class="portfolio-link text-center" data-toggle="modal">
                    <span class="fa fa-fw fa-laptop-code" aria-hidden="true" title="I like coding in much programming languages!
                    "></span>
                </a>
                <article>
                        <h3>Development</h3>  
                    <p><%= config.cardtext.card2 %></p>
                </article>                    
            </div>
            <div class="card-max card-glare3 portfolio-item">
                <a href="#" class="portfolio-link text-center" data-toggle="modal">
                    <span class="fa fa-fw fa-headset" aria-hidden="true" title="Moosic is goood!
                    "></span>
                </a>
                <article>
                        <h3>Gaming</h3>  
                    <p><%= config.cardtext.card3 %></p>
                </article>                    
            </div>

        </div>
    </div>
</section>