<header class="primary-header flex">
    <button class="mobile-nav-toggle" aria-controls="primary-navigation"><span class="sr-only"
        aria-expanded="false">Menu</span></button>
    <nav>
      <ul id="primary-navigation" data-visible="false" class="primary-navigation underline-indicators flex">
        <li class="active"><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/"><span
              aria-hidden="true">00</span>Home</a>
        <li><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="#myLikes"><span
              aria-hidden="true">01</span>Hobbies</a>
        <li><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="crew.html"><span
              aria-hidden="true">02</span>Milenium Source Code</a>
      </ul>
    </nav>
  </header>